<h4>Current Happy Times</h4>

<% @bars.each do |bar| %>
  <div id="bars">
    <div class="bars-col" >
      <li><%= bar.name %></li>
      <li><%= bar.happytime %></li>
    </div>

    <div class="bars-col" >
      <li><%= bar.address %></li>
    <div class="accordion horizontal">
      <section>
        <li><%= bar.ontap %></li>
      </section>
    </div>  
    </div>
  </div>

<% end %>
