@import 'bootstrap-sprockets';
@import 'bootstrap';

body {
  padding-top: 70px;
  list-style-type: none;
}

.panel-title:hover {
  cursor: pointer;
}

.green-bg {
  background-color: green;
}

.red-bg {
  background-color: red;
}

.title-bar {
}

.panel-heading h4, .panel-heading h5 {
  display: inline;
}

.panel-heading h5 {
  float: right;
  font-size: 16px;
  line-height: 28px;
}
